* {
    margin: 0;
    padding: 0;
    font-family: "K2D";
    font-weight: 400;
    font-style: normal;
}

$color-body: #222222;
$color-border: #828282;
$color-text: #FFFFFF;

.wrapper {
    width: 600px;
    height: 700px;
    border-radius: 50px;
    background-color: $color-body;
    border: 10px solid $color-border;


    .img {
        background-image: url(./assets/Mask\ group.png);
        background-repeat: no-repeat;
        width: 472px;
        height: 472px;
        margin: auto;
        margin-top: 14px;
    }

    .clock {
        margin-top: 45px;
        margin-left: 440px;
        font-size: 30px;
        color: $color-text;
    }

    .data {
        font-size: 20px;
        text-align: center;
        margin-top: 16px;
        color: $color-text;
    }

    .rectangle {
        width: 230px;
        height: 10px;
        background-color: $color-text;
        margin: auto;
        margin-top: 12px;
        border-radius: 1px;
    }
}