* {
  margin: 0;
  padding: 0;
  font-family: "K2D";
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  width: 600px;
  height: 700px;
  border-radius: 50px;
  background-color: #222222;
  border: 10px solid #828282;
}
.wrapper .img {
  background-image: url(./assets/Mask\ group.png);
  background-repeat: no-repeat;
  width: 472px;
  height: 472px;
  margin: auto;
  margin-top: 14px;
}
.wrapper .clock {
  margin-top: 45px;
  margin-left: 440px;
  font-size: 30px;
  color: #FFFFFF;
}
.wrapper .data {
  font-size: 20px;
  text-align: center;
  margin-top: 16px;
  color: #FFFFFF;
}
.wrapper .rectangle {
  width: 230px;
  height: 10px;
  background-color: #FFFFFF;
  margin: auto;
  margin-top: 12px;
  border-radius: 1px;
}